window {
    background-color: lightgray;
}

label {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 8px;
    min-width: 110px;
}

eventbox {
    min-width: 110px;
}

grid {
    border: 0;
    padding: 0;
}
