window {
    background-color: lightgray;
}

label {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
}

button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 5px;
}
